/* 全ての要素にボックスモデルを適用 */
* {
    box-sizing: border-box;
}

/* 基本のスタイル */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
    overflow-x: hidden; /* 横スクロールを防止 */
    background: beige;
}

/* ヘッダーのスタイル */
header {
    background-color: #1993b2;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden; /* 横スクロールを防止 */
    position: relative;
}

.logo {
    max-width: 100px;
    min-width: 70px;
}

.logo img {
    width: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0 8px;
    display: flex;
    flex-wrap: nowrap; /* 折り返しを無効にする */
    overflow-x: auto; /* 横スクロールを許可 */
}

.menu li {
    margin-right: 30px;
    font-size: 5px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(6px, 1.5vw, 18px);
}

.right-form {
    font-size: clamp(8px, 2.5vw, 18px);
    white-space: nowrap;
}
.service_subject {
  text-align: center;
  font-size: 25px;
}

.service_sub-title {
  display: flex;
  background-color: #1993b2;
}

.service-1, .service-2, .service-3, .service-4 {
  font-size: 15px;
  margin: 40px;
}

.img_service-zoom-1, .img_service-zoom-2, .img_service-zoom-3, .img_service-zoom-4 {
  height: 100px;
  width: 100px;
  background-color: #1993b2;
}

.merit_title {
  display: flex;
 
}

.merit_service {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.merit_service1 {
  font-size: 20px;
  margin-left:50px;
  margin-right: 260px;
}

.merit_service2 {
  font-size: 20px;
}

.merit_service3 {
  text-align: center; /* これを追加して親要素を中央揃えに */
}


.img_merit-1{
  height:300px;
  width:400px;
}

.img_merit-2{
  text-align: center;
  height:300px;
  width:400px;
}

.img_merit-3{
  display: block;
  margin:auto;
  height:300px;
  width:500px;
}
/* コンテンツエリアのスタイル */
.bm-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.body-merit {
    width: 100%; /* 横幅を100%に設定 */
}

.bm-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 横幅を100%に設定 */
    margin: 20px 0; /* 左右のマージンを削除し、上下のマージンを20pxに設定 */
}

.bm-image1, .bm-image2 {
    width: 48%; /* 画像の幅を .bm-container の 48% に設定 */
    max-width: 100%; /* 最大幅を100%に設定 */
    margin-right: 20px;
}

.bm-text {
    max-width: 650px;
    width: 52%;
    margin: auto;
}

.bm-text h1 {
    margin-top: 0;
    font-size: 2vw; /* 画面幅に対する相対的な大きさ */
}

.bm-text p {
    margin: 0;
    font-size: 1vw;
}

/* 画面サイズに応じたスタイルの調整 */
@media (max-width: 1024px) {
    .bm-container {
        padding: 10px;
    }
    
    .bm-text h1 {
        font-size: 3vw;
    }

    .bm-text p {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .bm-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .bm-image1, .bm-image2 {
        margin-right: 0;
        margin-bottom: 20px;
        width: 90%; /* 画像の幅を100%に設定 */
    }

    .bm-text {
        max-width: 100%;
        width: 100%;
    }

    header {
        padding: 10px 0;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bm-text h1 {
        font-size: 3vw; /* 画面幅に対する相対的な大きさ */
    }

    .bm-text p {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    .right-form a {
        font-size: 3vw;
    }

    .menu li a {
        font-size: 14px;
    }

    .bm-text h1 {
        font-size: 3vw;
    }

    .bm-text p {
        font-size: 2vw;
    }
}

/* コンテンツ全体のスタイル */
.content {
    margin-top: 120px; /* 例：ヘッダーの下に20pxの余白を作成 */
}

#title {
    background-image: url(image/title_img1.jpg);
    background-position: center;
    background-size: cover;
    height: 750px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    animation: fadeIn 4s ease-in-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#title::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}

.title_inner {
    z-index: 2;
    color: #fff;
    width: 100%;
    text-align: center;
}

.title_inner h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.title_inner p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.button_bt {
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 50px;
}

.button_bt:hover {
    background-color: #2f2b2b;
}

/* 下記からbody-ex関係のCSSを記述 */
.popular__container {
    display: flex;
    flex-wrap: wrap;
}
  
.popular__item {
    flex: 0 0 calc(97% / 4 - 5px); /* 画面の95%を２つの画像で占め、隙間を5px空ける */
    margin: 5px; /* 隙間の設定 */
    opacity: 0; /* 初期状態で非表示にする */
    animation: fadeInLeft 1s forwards;
}

/* 各画像に異なるアニメーション遅延を設定 */
.popular__item:nth-child(1) {
    animation-delay: 0.5s;
}

.popular__item:nth-child(2) {
    animation-delay: 1s;
}

.popular__item:nth-child(3) {
    animation-delay: 1.5s;
}

.popular__item:nth-child(4) {
    animation-delay: 2s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.popular__img img {
    width: 100%;
    height: auto;
}

.ex-title-h1 {
    text-align: center;
    font-size: 3vw;
}