body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

header {
    background-color: #1993b2;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    max-width: 100px;
    min-width: 70px;
}

.logo img {
    width: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0 8px;
    display: flex;
}

.menu li {
    margin-right: 30px;
    font-size: 5px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(6px, 1.5vw, 18px);
}

.right-form {
    font-size: clamp(8px, 2.5vw, 18px);
    white-space: nowrap;
}

.bm-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.bm-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 0;
}

.bm-image1, .bm-image2 {
    width: 48%; /* 画像の幅を .bm-container の 48% に設定 */
    margin-right: 20px;
}

.bm-image2 {
    width: 60vw; /* 画面幅に対する相対的な大きさ */
    max-width: 100%; /* 最大幅を100%に設定 */
}

.bm-text {
    max-width: 450px;
    width: 52%; /* 残りのスペースをテキストに割り当て */
}

.bm-text h1 {
    margin-top: 0;
    font-size: 2vw; /* 画面幅に対する相対的な大きさ */
}

.bm-text p {
    margin: 0;
    font-size: 1vw;
}

/* 画面サイズに応じたスタイルの調整 */
@media (max-width: 1024px) {
    .bm-container {
        padding: 10px;
    }
    
    .bm-text h1 {
        font-size: 3vw;
    }

    .bm-text p {
        font-size: 2pw;
    }
}

@media (max-width: 768px) {
    .bm-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .bm-image1, .bm-image2 {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%; /* 画像の幅を100%に設定 */
    }

    .bm-text {
        max-width: 100%;
        width: 100%;
    }

    header {
        padding: 10px 0;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .right-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bm-text h1 {
        font-size: 3vw; /* 画面幅に対する相対的な大きさ */
    }

    .bm-text p {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    .right-form a {
        font-size: 14px;
    }

    .menu li a {
        font-size: 14px;
    }

    .bm-text h1 {
        font-size: 3vw;
    }

    .bm-text p {
        font-size: 1vw;
    }
}

